<div class="modal fade" id="portal-alert" tabindex="-1" aria-labelledby="portal-alert" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="title">{{alertTitle}}</h5>
          </div>
          <div class="modal-body">
              <label id="message">{{alertMessage}}</label>
              <div class="row">
                  <button type="button" class="btn btn-primary ml-auto" data-bs-dismiss="modal">Ok</button>
              </div>
          </div>
      </div>
  </div>
</div>