# compiled output
/dist
/dafne/dist
/tmp
/out-tsc

# dependencies
/dafne/node_modules
/dafne/package-lock.json

# IDE - VSCode
/dafne/.vscode

# misc
/dafne/.angular
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db