<div id="chart-title">Network View - Completeness</div>
<div id="main-column-container">
    <!-- Filter header -->
    <div id="filters-form-container">
        <form id="filters-form">
            <div id="filters-form-row">
                <!-- Use sync filter checkbox -->
                <div class="use-filter-div">
                    <label class="form-label" for="use-filter-checkbox">Use sync filter:</label>
                    <input type="checkbox" class="form-control" id="use-filter-checkbox" (change)="onUseFilterCheckboxChange()" [checked]="false">
                </div>

                <!-- FALSE -->
                <div *ngIf="useSyncFilter == false">
                    <label class="form-label" for="mission-select">Mission:</label>
                    <select id="mission-select" class="form-select" (change)="onMissionChange($event)">
                        <option [value]="mission.name" *ngFor="let mission of totalMissionList">{{mission.name}}</option>
                    </select>
                </div>
                <div *ngIf="useSyncFilter == false">
                    <label class="form-label">Product Type:</label>
                    <select id="product-type-select" class="form-select" (change)="onProductTypeChange($event)">
                        <option [value]="productType" *ngFor="let productType of missionFiltered.productType">{{productType}}</option>
                    </select>
                </div>
                <div *ngIf="useSyncFilter == false">
                    <label class="form-label">Platform N.:</label>
                    <select id="platform-number-select" class="form-select" (change)="onPlatformNumberChange($event)">
                        <option [value]="platformNumber" *ngFor="let platformNumber of missionFiltered.platform">{{platformNumber}}</option>
                    </select>
                </div>

                <!-- TRUE -->
                <div *ngIf="useSyncFilter == true">
                    <label class="form-label">Service Type:</label>
                    <select id="service-type-select" class="form-select" (change)="onServiceTypeChange($event)">
                        <option [value]="serviceType" *ngFor="let serviceType of serviceTypeList">{{serviceType}}</option>
                    </select>
                </div>
                <div *ngIf="useSyncFilter == true" class="select-sync-div">
                    <label class="form-label">Synch:</label>
                    <select id="sync-select" class="form-select" (change)="onSyncChange($event)">
                        <optgroup *ngIf="showBESync" label="Back-End and Single Instance">
                            <option [value]="sync.Label" *ngFor="let sync of beSynchronizers" title="URL: {{sync.serviceUrl}}">{{sync.Label}}</option>
                        </optgroup>
                        <optgroup *ngIf="showFESync" label="Front-End">
                            <option [value]="sync.Label" *ngFor="let sync of feSynchronizers" title="URL: {{sync.serviceUrl}}">{{sync.Label}}</option>
                        </optgroup>
                    </select>
                </div>
                <div *ngIf="useSyncFilter == true" class="filter-string-div">
                    <label class="form-label">Filter:</label>
                    <input type="text" class="form-control" id="filter-string" [value]="filter" placeholder="No filter is set" title="{{filter}}">
                </div>

                <!-- DATES -->
                <div class="date-picker">
                    <label class="form-label">Start/Stop Date:</label>
                    <dp-date-picker class="" theme="dp-material" id="filter-start-date" name="filter-start-date"
                        [(ngModel)]="startDate" (ngModelChange)="onStartDateChanged($event)" [config]="startDatePickerConfig" placeholder="YYYY-MM-DD">
                    </dp-date-picker>
                </div>
                <div>
                    <!-- <label class="form-label">Stop Date:</label> -->
                    <dp-date-picker class="" theme="dp-material" id="filter-stop-date" name="filter-stop-date"
                        [(ngModel)]="stopDate" (ngModelChange)="onStopDateChanged($event)" [config]="stopDatePickerConfig" placeholder="YYYY-MM-DD">
                    </dp-date-picker>
                </div>
                <button type="submit" class="btn btn-primary col-1" id="filter-submit-button" (click)="onFilterSubmit()">Filter</button>
            </div>
        </form>
    </div>
    <div id="main-row-container">
        <!-- Center list -->
        <section id="target-id-list-container">
            <ul id="target-id-local">
                <li id="target-id-local-title" style="color: white">Local:</li>
                <li [ngStyle]="{'color': serviceLocalCentre.color}">{{serviceLocalCentre.name}}</li>
                <li id="target-id-remote-title" class="mt-2" style="color: white">Remotes:</li>
            </ul>
            <ul *ngFor="let item of serviceRemoteCentreList | uniqueCentreFilter; let i = index;" id="target-id-list">
                <li [ngStyle]='{color: item.color}'>
                    {{item.name}}
                </li>
            </ul>
        </section>
        <!-- Charts -->
        <div id="p5Canvas-column-div">
            <div id="p5Canvas"></div>
            <i class="fa fa-grip-lines" id="table-toggle-button" aria-hidden="false" (click)="toggleTable()"></i>
        </div>
        <!-- Selectors -->
        <section id="selectors-container">
            <h2>CHART</h2>
            <button (click)="chartChangeTo('Sunburst Single')">Sunburst Single</button>
            <button (click)="chartChangeTo('Sunburst Stacked')">Sunburst Stacked</button>
            <button (click)="chartChangeTo('Single Bars')">Single Bars</button>
            <button (click)="chartChangeTo('Stacked Bars')">Stacked Bars</button>
            <button (click)="chartChangeTo('Marimekko')">Marimekko</button>
        </section>
    </div>
</div>

<!-- Data Table -->
<div class="data-table-container" id="data-table-container">
    <div id="export-div">
        <label for="export-button">Click to export data in csv format</label>
        <button id="export-button" (click)="saveAsCSV()">Export</button>
    </div>
    <div id="table-div">
        <table id="data-table">
            <thead>
                <th *ngIf="useSyncFilterForTable == null" style="color: white">Filter:</th>
                <th *ngIf="useSyncFilterForTable == true" style="color: white">Filter: {{filter}}</th>
                <th *ngIf="useSyncFilterForTable == false" style="color: white">Filter: {{missionName}} {{platformNumber}} ({{productType}})</th>
                <th *ngFor="let column of completenessDataList" style="padding: 0 0.5rem;">{{column.date}}</th>
            </thead>
            <tr *ngFor="let centre of serviceAllCentreList; let i=index">
                <td [ngStyle]="{'color': centre.color }">{{centre.name}}</td>
                <td [ngStyle]="{'color': centre.color }" *ngFor="let data of completenessDataList">{{(data.values[i].value < 0 ? "NaN" : data.values[i].value)}}</td>
            </tr>
        </table>
    </div>
</div>