/* Chart title */
#chart-title {
    background-color: var(--title-bg-color);
    color: var(--main-text-color);
    align-items: center;
    padding-left: 0.5rem;
    min-width: 980px;
}

/* Main Column Container */
#main-column-container {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    width: 100%;
    min-width: 980px;
}

/* Filters view */
#filters-form-container {
    background-color: var(--windows-bg-color);
    height: 3rem;
    line-height: 2rem;
    margin: 0.5rem auto;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}
#filters-form {
    padding: 0.5rem 0;
}
#filters-form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
#filters-form .use-filter-div {
    display: flex;
    align-items: center;
    margin-left: 0;
}
#filters-form .filter-string-div{
    display: flex;
    align-items: center;
    margin-left: 0;
}
#use-filter-checkbox {
    -webkit-appearance: none;
	background-color: var(--modal-bg-color);
    border-color: var(--title-bg-color);
    color: var(--checked-color);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    font-size: 2rem;
    width: 2rem;
    cursor: pointer !important;
}
#use-filter-checkbox:checked:after {
	content: '\2714';
    position: absolute;
    left: 1px;
    top: -10px;
}
label {
    color: var(--main-text-color);
    font-size: 0.75rem;
    text-align: right;
    margin-right: 0.5rem;
    margin-left: 1rem;
}
select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--modal-bg-color);
    border-color: var(--title-bg-color);
    color: var(--main-text-color);
    font-size: 0.75rem;
    max-width: 6rem;
    height: 2rem;
}
input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--modal-bg-color);
    border-width: 2px;
    border-color: var(--title-bg-color);
    border-style: inset;
    padding: 9px;
	border-radius: 1px;
    bottom: 5px;
    height: 2rem;
    max-width: 6rem;
    position: relative;
}
#filter-string {
    color: var(--main-text-color);
    font-size: 0.75rem;
}

#filter-submit-button {
    font-size: 1.0rem;
    height: 2rem;
    text-align: center;
    line-height: 1rem;
    margin-left: 1rem;
    padding-left: 2rem;
    padding-right: 4rem;
}
::ng-deep dp-date-picker.dp-material .dp-picker-input {
    background-color: var(--modal-bg-color) !important;
    color: var(--main-text-color) !important ;
    border-width: 2px;
    border-color: var(--title-bg-color);
    border-style: inset;
    height: 2rem !important;
    font-size: 0.75rem;
    width: 80px !important;
    text-align: center;
}
::ng-deep dp-day-calendar .dp-day-calendar-container {
    background-color: var(--main-bg-color) !important;
    color: var(--main-text-color) !important;
}
::ng-deep dp-day-calendar .dp-calendar-wrapper {
    background-color: var(--modal-bg-color);
    border-width: 0 !important;
} 
::ng-deep .dp-popup {
    background-color: var(--main-bg-color) !important;
    border: 1px solid var(--main-buttons-bg-color) !important;
    border-radius: 5px;
}
::ng-deep dp-calendar-nav.dp-material .dp-calendar-nav-container {
    background-color: var(--main-buttons-bg-color) !important;
    color: var(--main-text-color) !important;
    border-width: 0 !important;
    font-size: 0.75rem;
}
::ng-deep dp-calendar-nav.dp-material .dp-nav-header-btn {
    background-color: transparent!important;
    color:black !important;
    height: 2rem !important;
    border-width: 0;
    border-radius: 5px;
    font-size: 1rem;
}
::ng-deep dp-day-calendar.dp-material .dp-calendar-weekday {
    color: var(--main-text-color) !important;
}

::ng-deep dp-calendar-nav.dp-material .dp-calendar-nav-left {
    background-color: var(--main-buttons-bg-color) !important;
}
::ng-deep dp-calendar-nav.dp-material .dp-calendar-nav-right {
    background-color: var(--main-buttons-bg-color) !important;
}
::ng-deep dp-calendar-nav.dp-material .dp-current-location-btn {
    background-color: black !important;
}

/* Main Row Container */
#main-row-container {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

/* Centres List */
#target-id-list-container {
    flex-shrink: 0;
    margin-top: 1rem;
    overflow-y: auto;
}
#target-id-local {
    list-style-type:none;
    margin: 0;
    padding: 0 1rem;
    font-size: 0.75rem;
}
#target-id-list {
    list-style-type:none;
    margin: 0;
    padding: 0 1rem;
    font-size: 0.75rem;
}
#target-id-local-title {
    border-bottom: 1px solid #fff;
}
#target-id-remote-title {
    border-bottom: 1px solid #fff;    
}

/* Central container */
#central-container {
    flex-grow: 1;
    flex-shrink: 1;
}

/* Charts */
#p5Canvas-column-div {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 39.5rem);
    height: calc(100vh - 25.5rem);
}
#p5Canvas {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}
#table-toggle-button {
    margin-top: -0.5rem;
    cursor: pointer;
    margin-left: 50%;
    font-size: 1rem;
    display: block;
    z-index: 999;
}

/* Selectors */
#selectors-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 10rem;
    margin-right: 0;
    overflow-y: auto;
}
#selectors-container h2 {
    font-size: 1rem;
    text-align: center;
}
#selectors-container button {
    background-color: var(--main-buttons-bg-color);
    color: var(--main-buttons-text-color);
    font-size: 0.75rem;
    margin: 0.5rem 0;
    border-width: 0;
    border-radius: 5px;
}

/* Data Table */
.data-table-container {
    background-color: var(--main-bg-color);
    font-size: 0.8rem;
    border-width: 1px;
    color: var(--main-text-color);
    margin-top: 0.5rem;
    height: 11.5rem;
    padding: 0 1rem;
}
#export-div {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    line-height: 1.5rem;
    padding-top: 0.5rem;
}
#export-button {
    background-color: var(--main-buttons-bg-color);
    color: var(--main-buttons-text-color);
    border-width: 0;
    border-radius: 5px;
    margin-left: 1rem;
}
#table-div {
    border: 1px solid var(--title-bg-color);
    width: 100%;
    height: 7.5rem;
    overflow-y: auto;
}
table {
    width: 100%;
}
table td:first-child, th:first-child{
    padding: 0 0.5rem;
}
caption, th, td {
    text-align: center;
}
table th, td {
    border: 1px solid var(--table-border-color);
}
th {
    background-color: var(--table-header-bg-color);
    white-space:nowrap;
}

/* Responsiveness */
@media screen and (max-width: 767px) {
    #chart-title {
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 1.0rem;
    }
    #main-column-container {
        height: calc(100vh - 9rem - 11.5rem);
    }
}

@media screen and (min-width: 768px) {
    #chart-title {
        height: 2rem;
        line-height: 2rem;
        font-size: 1.5rem;
    }
    #main-column-container {
        height: calc(100vh - 9rem - 12rem);
    }
}

@media screen and (max-height: 767px) {
    #main-column-container {
        height: calc(100vh - 9rem);
    }
    #p5Canvas-column-div {
        height: calc(100vh - 13.5rem);
    }
    #data-table-container {
        display: none;
    }
}

@media screen and (min-height: 768px) {
    #main-column-container {
        height: calc(100vh - 9rem - 12rem);
    }
    #p5Canvas-column-div {
        height: calc(100vh - 25.5rem);
    }
    #data-table-container {
        display: block;
    }
}