@use 'vars' as *;

/* Absolute Center Spinner */
#portal-spinner {
  visibility: hidden; 
}

.loading {
  position: fixed;
  z-index: 999;
  width: $spinner-dot-radius;
  height: $spinner-dot-radius;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  border: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading:after {
  content: "";
  display: block;
  font-size: 0.6rem;
  width: $spinner-dot-radius;
  height: $spinner-dot-radius;
  border-radius: calc($spinner-dot-radius / 2);
  margin-top: -2rem;

  animation: spinner 1.2s infinite linear;
  box-shadow:
    $spinner-color ($spinner-radius) 0 0 0,
    $spinner-color ($spinner-cos45) ($spinner-cos45) 0 0,
    $spinner-color 0 ($spinner-radius) 0 0,
    $spinner-color calc(-1 * $spinner-cos45) ($spinner-cos45) 0 0,
    $spinner-color calc(-1 * $spinner-radius) 0 0 0,
    $spinner-color calc(-1 * $spinner-cos45) calc(-1 * $spinner-cos45) 0 0,
    $spinner-color 0 calc(-1 * $spinner-radius) 0 0,
    $spinner-color ($spinner-cos45) calc(-1 * $spinner-cos45) 0 0;
}

/* Animation */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
