<div id="footer-inner-container">
  <div id="footer-left-side">
    <img id="centre-logo" src={{centreLogoPath}} alt="centre logo">
    <img id="copernicus-logo" src="assets/images/copernicus_eu_logo_blu_white.png" alt="copernicus logo">
  </div>
  <div id="footer-right-side">
    <img id="serco-logo" class="ml-auto" src="assets/images/logo-serco-grey_cut.png" alt="serco logo">
    <img id="alia-logo" src="assets/images/logo_alia_white.png" alt="alia logo">
    <div id="software-version" class="footer-user-info">
      v: {{softwareVersion}} @if(authenticationService.currentUser.hasOwnProperty('role')) {<span class="footer-user-info"> - [{{authenticationService.currentUser.role}}]</span>}
    </div>
  </div>
</div>