# compiled output
/dafne/dist

# dependencies
/dafne/package-lock.json

# IDE - VSCode
/dafne/.vscode

# misc
/dafne/.angular
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
