<div class="main-parent-view-content">
    <div class="main-page-title">
      <p>Edit Centres</p>
    </div>
    <div class="main-page-content">
      <div class="main-page-inner-container">
        <div class="edit-title-container">
            <p class="edit-table-title">Centres List</p>
            @if (isAdmin()) {
            <button class="edit-add-button hover-el" (click)="addNewCentre()" title="Add Centre">Add Centre<svg class="svg-icon plus-icon"><use href="assets/icons/dafne_symbols.svg#icon-plus"/></svg></button>
            }
        </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Color</th>
                <th>Local</th>
                <th>Description</th>
                @if (isAdmin()) {
                <th>Actions</th>
                }
            </tr>
            <tr *ngFor="let centre of centreList">
                <td class="cell-name" [ngStyle]="{'color': centre.color }">{{centre.name}}</td>
                <td class="cell-latitude" [ngStyle]="{'color': centre.color }">{{centre.latitude}}</td>
                <td class="cell-longitude" [ngStyle]="{'color': centre.color }">{{centre.longitude}}</td>
                <td class="cell-color"><div class="color-rect" [ngStyle]="{'background-color': centre.color }" [title]="centre.color"></div></td>
                <td class="cell-local" [ngStyle]="{'color': centre.local == true ? centre.color : 'lightgrey' }">
                    {{centre.local == true ? "local" : "remote"}}
                </td>
                <td class="cell-description" [ngStyle]="{'color': centre.color }">{{centre.description}}</td>
                @if (isAdmin()) {
                <td>
                    <div class="cell-actions">
                        <div class="action-icon-container" title="Edit Centre">
                            <svg class="icon-edit hover-el" (click)="editCentre(centre.id)"><use href="assets/icons/dafne_symbols.svg#icon-edit"/></svg>
                        </div>
                        <div class="action-icon-container" title="Delete Centre">
                            <svg class="icon-delete hover-el" (click)="deleteCentre(centre.id)"><use href="assets/icons/dafne_symbols.svg#icon-delete"/></svg>
                        </div>
                    </div>
                </td>
                }
            </tr>
        </table>
      </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal hidden" id="addCentreModal" tabindex="-1">
    <div class="modal-container">
        <div class="modal-header">
            <h4 class="modal-title">ADD CENTRE</h4>
        </div>
        <hr class="modal-hr">
        <div class="modal-body">
            <form id="addCentreForm" [formGroup]="addCentreForm" (ngSubmit)="onAddSubmit()">
                <div class="form-input-div column">
                    <label for="add-name" class="form-label">Name</label>
                    <input type="text" class="form-text-input full-width" id="add-name" formControlName="addCentreName" required>
                    <small id="nameHelp" class="validation-message">Length: 1 - 60 characters</small>
                </div>
                <div class="form-input-group-div">
                    <div class="form-input-div column">
                        <label for="add-latitude" class="form-label">Latitude</label>
                        <input type="text" class="form-text-input" id="add-latitude" formControlName="addCentreLatitude" required>
                        <small id="latitudeHelp" class="validation-message">Input a number in the range:<br>[-90.0, 90.0]</small>
                    </div>
                    <div class="form-input-div column">
                        <label for="add-longitude" class="form-label">Longitude</label>
                        <input type="text" class="form-text-input" id="add-longitude" formControlName="addCentreLongitude" required>
                        <small id="longitudeHelp" class="validation-message">Input a number in the range:<br>[-180.0, 180.0]</small>
                    </div>
                </div>
                <div class="form-input-group-div">
                    <div class="form-input-div column">
                        <label for="add-color" class="form-label">Color</label>
                        <div class="input-group" class="form-color-div">
                            <label class="form-color-selector-label"><input type="color" id="add-color-selector" class="form-color-selector" (change)="onAddColorChanged($event)" required></label>
                            <input type="text" class="form-text-input right" id="add-color" (change)="onAddColorTextChanged($event)" formControlName="addCentreColor" required>
                            <small id="colorHelp" class="validation-message">Hex color in the form #rrggbb</small>
                        </div>
                    </div>
                    <div class="form-input-div column">
                        <label for="add-local" class="form-label">Local</label>
                        <input type="checkbox" id="add-local" class="form-checkbox" name="local-checkbox" formControlName="addCentreLocal">
                    </div>
                </div>
                <div class="form-input-div column">
                    <label for="add-description" class="form-label">Description</label>
                    <input type="text" class="form-text-input full-width" id="add-description" formControlName="addCentreDescription">
                    <small id="descriptionHelp" class="validation-message">Anything</small>
                </div>
                <div class="form-input-div row" >
                    <button type="button" class="form-button close rect hover-el" (click)="onClosePressed()">CANCEL</button>
                    <button type="submit" class="form-button submit rect hover-el">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal hidden" id="editCentreModal" tabindex="-1" >
    <div class="modal-container">
        <div class="modal-header">
            <h4 class="modal-title">EDIT CENTRE</h4>
        </div>
        <hr class="modal-hr">
        <div class="modal-body">
            <form id="editCentreForm" [formGroup]="editCentreForm" (ngSubmit)="onEditSubmit(tempCentreIdToEdit)">
                <div class="form-input-div column">
                    <label for="edit-name" class="form-label">Name</label>
                    <input type="text" class="form-text-input full-width" id="edit-name" name="edit-name" formControlName="editCentreName">
                    <small id="nameHelp" class="validation-message">Length: 1 - 60 characters</small>
                </div>
                <div class="form-input-group-div">
                    <div class="form-input-div column">
                        <label for="edit-latitude" class="form-label">Latitude</label>
                        <input type="text" class="form-text-input" id="edit-latitude" name="edit-latitude" formControlName="editCentreLatitude">
                        <small id="latitudeHelp" class="validation-message">Input a number in the range:<br>[-90.0, 90.0]</small>
                    </div>
                    <div class="form-input-div column">
                        <label for="edit-longitude" class="form-label">Longitude</label>
                        <input type="text" class="form-text-input" id="edit-longitude" name="edit-longitude" formControlName="editCentreLongitude">
                        <small id="latitudeHelp" class="validation-message">Input a number in the range:<br>[-180.0, 180.0]</small>
                    </div>
                </div>
                <div class="form-input-group-div">
                    <div class="form-input-div column">
                        <label for="edit-color" class="form-label">Color</label>
                        <div class="input-group" class="form-color-div">
                            <label class="form-color-selector-label"><input type="color" id="edit-color-selector" class="form-color-selector" (change)="onEditColorChanged($event)" required></label>
                            <input type="text" class="form-text-input right" id="edit-color" (change)="onEditColorTextChanged($event)" formControlName="editCentreColor" required>
                            <small id="colorHelp" class="validation-message">Hex color in the form #rrggbb</small>
                        </div>
                    </div>
                    <div class="form-input-div column">
                        <label for="edit-local" class="form-label">Local</label>
                        <input type="checkbox" id="edit-local" class="form-checkbox" name="local-checkbox" formControlName="editCentreLocal">
                    </div>
                </div>
                <div class="form-input-div column">
                    <label for="edit-description" class="form-label">Description</label>
                    <input type="text" class="form-text-input full-width" id="edit-description" name="edit-description" formControlName="editCentreDescription">
                    <small id="descriptionHelp" class="validation-message">Anything</small>
                </div>
                <div class="form-input-div row">
                    <button type="button" class="form-button close rect hover-el" (click)="onClosePressed()">CANCEL</button>
                    <button type="submit" class="form-button submit rect hover-el">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</div>
 

<!-- Delete Alert! -->
<div class="modal hidden" id="deleteCentreModal" tabindex="-1">
    <div class="modal-container">
        <div class="modal-header">
            <h4 class="modal-title">Deleting Centre: <span [ngStyle]="{'color': tempCentreColorToDelete}">{{tempCentreNameToDelete}}</span></h4>
            <svg class="icon-warning"><use href="assets/icons/dafne_symbols.svg#icon-warning"/></svg>
        </div>
        <hr class="modal-hr">
        <div class="modal-body">
            <form id="deleteCentreForm" (ngSubmit)="deleteCentreConfirmed()">
                <div class="form-input-div row-left">
                    <label>Are you sure?</label>
                </div>
                <div class="form-input-div row" >
                    <button type="button" class="form-button close rect hover-el" (click)="onClosePressed()">CANCEL</button>
                    <button type="submit" class="form-button submit rect hover-el">YES</button>
                </div>
            </form>
        </div>
    </div>
</div>