<div class="central-div row">
    <div class="main-view-content ml-auto" id="main-view-content">
        <div class="edit-services-page-title">Edit Services</div>
        <div class="edit-services-page-content">
            <div class="title-row row">
                <p class="table-title">Services List</p>
                <button *ngIf="this.authenticationService.currentUser.isAdmin" class="add-service-button btn btn-primary ml-auto" (click)="addNewService()">Add Service<i class="plus-icon fas fa-plus"></i></button>
            </div>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Service URL</th>
                    <th>Service type</th>
                    <th>Centre</th>
                    <th *ngIf="this.authenticationService.currentUser.isAdmin">Actions</th>
                </tr>
                <tr *ngFor="let service of serviceList">
                    <td class="cell-username">{{service.username}}</td>
                    <td class="cell-service_url">{{service.service_url}}</td>
                    <td class="cell-service_type">{{service.service_type}}</td>
                    <td class="cell-centre">{{service.centre}}</td>
                    <td *ngIf="this.authenticationService.currentUser.isAdmin" class="cell-actions">
                        <i class="fas fa-pen action" style="color: orange" (click)="editService(service.id)"></i>
                        <i class="fas fa-trash action" style="color: red" (click)="deleteService(service.id)"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<app-footer class="footer row"></app-footer>  

<!-- Add Modal -->
<div class="modal fade" id="addServiceModal" tabindex="-1" aria-labelledby="addServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADD SERVICE</h5>
            </div>
            <div class="modal-body">
                <form id="addServiceForm">
                    <div class="input-group mb-1">
                        <div class="mb-1">
                            <label for="add_id" class="form-label">Id</label>
                            <input type="text" class="form-control" id="add_id" value="auto" onkeydown="return false" disabled>
                        </div>
                        <div class="mb-1 ml-auto">
                            <label for="add_service_type" class="form-label">Service type</label>
                            <input type="text" class="form-control" id="add_service_type" [value]="service.service_type" onkeydown="return false">
                            <small id="serviceTypeHelp" class="form-text">Please select a service type</small>
                            <i id="service-type-dropdown" class="fas fa-angle-down" data-bs-toggle="dropdown"></i>
                            <ul class="dropdown-menu" aria-labelledby="service-type-dropdown">
                                <li *ngFor="let serviceType of serviceTypesList; let k = index">
                                    <a class="dropdown-item" (click)="setNewFormServiceType(k+1)">{{serviceType.service_type}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <div class="mb-1">
                            <label for="add_service_username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="add_service_username" [value]="service.username">
                            <small id="usernameHelp" class="form-text">Length: 1 - 60 characters</small>
                        </div>
                        <div class="mb-1 ml-auto">
                            <label for="add_service_password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="add_service_password" autocomplete="current-password" [value]="service.password">
                            <small id="passwordHelp" class="form-text">Length: 1 - 60 characters</small>
                            <i class="fas fa-eye" id="toggleAddPassword" (click)="toggleAddPasswordVisibility()"></i>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <div class="mb-1">
                            <label for="add_service_url" class="form-label">Service URL</label>
                            <input type="text" class="form-control" id="add_service_url" [value]="service.service_url">
                            <small id="serviceUrlHelp" class="form-text">Length: 1 - 256 characters.<br>Invalid characters: , ; and SPACE</small>
                        </div>
                        <div class="mb-1 ml-auto">
                            <label for="add_centre" class="form-label">Centre</label>
                            <input type="text" class="form-control" id="add_centre" [value]="service.centre" onkeydown="return false">
                            <small id="centreHelp" class="form-text">Please select a centre</small>
                            <i id="centre-dropdown" class="fas fa-angle-down" data-bs-toggle="dropdown"></i>
                            <ul class="dropdown-menu" aria-labelledby="centre-dropdown">
                                <li *ngFor="let centre of centreList">
                                    <a class="dropdown-item" (click)="setNewFormCentre(centre.id)">{{centre.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" >
                        <button type="button" class="btn btn-secondary ml-auto m-3" data-bs-dismiss="modal" aria-label="Close">Close</button>
                        <button type="submit" class="btn btn-primary m-3" (click)="onAddSubmit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editServiceModal" tabindex="-1" aria-labelledby="editServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">EDIT SERVICE</h5>
            </div>
            <div class="modal-body">
                <form id="editServiceForm">
                    <div class="input-group mb-1">
                        <div class="mb-1">
                            <label for="add_id" class="form-label">Id</label>
                            <input type="text" class="form-control" id="add_id" value="auto" onkeydown="return false" disabled>
                        </div>
                        <div class="mb-1 ml-auto">
                            <label for="edit_service_type" class="form-label">Service type</label>
                            <input type="text" class="form-control" id="edit_service_type" [value]="service.service_type" onkeydown="return false">
                            <small id="serviceTypeHelp" class="form-text">Please select a service type</small>
                            <i id="service-type-dropdown" class="fas fa-angle-down" data-bs-toggle="dropdown"></i>
                            <ul class="dropdown-menu" aria-labelledby="service-type-dropdown">
                                <li *ngFor="let serviceType of serviceTypesList; let k = index">
                                    <a class="dropdown-item" (click)="setNewFormServiceType(k+1)">{{serviceType.service_type}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <div class="mb-1">
                            <label for="edit_service_username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="edit_service_username" [value]="service.username">
                            <small id="usernameHelp" class="form-text">Length: 1 - 60 characters</small>
                        </div>
                        <div class="mb-1 ml-auto">
                            <label for="edit_service_password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="edit_service_password" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;" >
                            <small id="passwordHelp" class="form-text">Length: 1 - 60 characters</small>
                            <i class="fas fa-eye" style="display: none;" id="toggleEditPassword" (click)="toggleEditPasswordVisibility()"></i>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <div class="mb-1">
                            <label for="edit_service_url" class="form-label">Service URL</label>
                            <input type="text" class="form-control" id="edit_service_url" [value]="service.service_url">
                            <small id="serviceUrlHelp" class="form-text">Length: 1 - 256 characters.<br>Invalid characters: , ; and SPACE</small>
                        </div>
                        <div class="mb-1 ml-auto">
                            <label for="edit_centre" class="form-label">Centre</label>
                            <input type="text" class="form-control" id="edit_centre" [value]="service.centre" onkeydown="return false">
                            <small id="centreHelp" class="form-text">Please select a centre</small>
                            <i id="centre-dropdown" class="fas fa-angle-down" data-bs-toggle="dropdown"></i>
                            <ul class="dropdown-menu" aria-labelledby="centre-dropdown">
                                <li *ngFor="let centre of centreList">
                                    <a class="dropdown-item" (click)="setNewFormCentre(centre.id)">{{centre.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" >
                        <button type="button" class="btn btn-secondary ml-auto m-3" data-bs-dismiss="modal" aria-label="Close">Close</button>
                        <button type="submit" class="btn btn-primary m-3" (click)="onEditSubmit(service.id)">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Alert! -->
<div class="modal fade" id="deleteServiceModal" tabindex="-1" aria-labelledby="deleteServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-exclamation-triangle mr-4"></i>Delete Service: {{tempServiceUrlToDelete}}</h5>
            </div>
            <div class="modal-body">
                <label>Are you sure?</label>
                <div class="row">
                    <button type="button" class="btn btn-secondary ml-auto" (click)="deleteServiceCanceled()" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary ml-4 mr-4" (click)="deleteServiceConfirmed()" data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>