/* Services Page */
.central-div {
    padding-top: 1rem;
}
.main-view-content {
    width: calc(100%);
}
.edit-services-page-title {
    background-color: var(--title-bg-color);
    color: var(--main-text-color);
    align-items: center;
    padding-left: 0.5rem;
}
.edit-services-page-content {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-width: 1px;
    padding: 1rem;
    overflow-y: auto;
}
.add-service-button {
    width: 10rem;
    height: 2.4rem;
    border-radius: 1.2rem;
    border-width: 0;
    font-size: 1.2rem;
}
.plus-icon {
    padding-left: 1rem;
}
.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    align-items: center;
}

/* Table */
.title-row {
    padding: 1rem;
}
.table-title {
    color: var(--brighter-text-color);
    font-size: 2rem;
}
table {
    width: 100%;
    
}
th {
    background-color: var(--table-header-bg-color);
    color: var(--brighter-text-color);
    font-size: 1rem;
}
td {
    font-size: 0.8rem;
}
table, th, td {
    border: 1px solid var(--table-border-color);
    text-align: center;
}
.action {
    padding: 0 0.75rem;
    opacity: 100%;
}
.action:hover {
    opacity: 75%;
}

/* Service Modals */
.modal-content {
    background-color: var(--title-bg-color);
    color: var(--main-text-color);
    /* width: 400px; */
}
.modal-header {
    border-bottom: 1px solid var(--table-border-color);
}
.modal-title {
    color: var(--brighter-text-color);
}
.modal-content input {
    background-color: var(--modal-bg-color);
    border-color: var(--title-bg-color);
    color: var(--main-text-color);
    width: 225px;
    cursor: pointer !important;
}
.modal-content .fa-angle-down, .fa-eye, .fa-eye-slash {
    font-size: 1.0rem;
    top: 1.7rem;
    right: 0;
    border: 0.5rem solid var(--modal-bg-color);
    background-color: var(--modal-bg-color);
    color: var(--main-text-color);
    position: absolute;
    z-index: 99;
    cursor: pointer !important;
}
.modal-content label {
    margin-bottom: 0;
}
small {
    position: absolute;
}

.form-control.valid {
    border-width: 0;
}

.form-control.invalid {
    border: 1px solid red;
    margin-bottom: 50px;
}

.form-control + small {
    color: red;
    opacity: 0;
    height: 0;
    transition: opacity .4s ease-out;
}

.form-control.invalid + small {
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
    transition: opacity .4s ease-out;
}
#add_id, #edit_id {
    color: #505053;
}


/* Dropdown menus */
.dropdown-menu{
    background-color: var(--title-bg-color);
    opacity: 90%;
    
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    justify-items: center;
}
.dropdown-item{
    font-size: 1.3rem;
    color: var(--brighter-text-color);
    text-align: center;
}

/* Delete Modal */
.fa-exclamation-triangle {
    font-size: 2rem;
    color: tomato;
}

/* Responsiveness */
@media screen and (max-width: 767px) {
    .edit-services-page-title {
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 1.0rem;
    }
    .edit-services-page-content {
        height: calc(100vh - 7.5rem);
    }
    .footer {
        height: 2rem;
        line-height: 2rem;
    }
}
@media screen and (min-width: 768px) {
    .edit-services-page-title {
        height: 2rem;
        line-height: 2rem;
        font-size: 1.5rem;
    }
    .edit-services-page-content {
        height: calc(100vh - 9rem);
    }
    .footer {
        height: 3rem;
        line-height: 3rem;
    }
}