<div id="chart-title">Publication Latency</div>
<div id="main-column-container">
    <!-- Filter header -->
    <div id="filters-form-container">
        <form id="filters-form">
            <div id="filters-form-row">
                <div>
                    <label class="form-label">Synchronizer:</label>
                    <select id="synchronizer-select" class="form-select" (change)="onFilterSyncChange($event)">
                        <option [value]="sync.Label" *ngFor="let sync of syncList">{{sync.Label}}</option>
                    </select>
                </div>
                <div class="date-picker">
                    <label class="form-label">Start Date:</label>
                    <dp-date-picker class="" theme="dp-material" id="filter-start-date" name="filter-start-date"
                        [(ngModel)]="startDate" (ngModelChange)="onStartDateChanged($event)" [config]="startDatePickerConfig" placeholder="YYYY-MM-DD">
                    </dp-date-picker>
                </div>
                <div class="date-picker">
                    <label class="form-label">Stop Date:</label>
                    <dp-date-picker class="" theme="dp-material" id="filter-stop-date" name="filter-stop-date"
                        [(ngModel)]="stopDate" (ngModelChange)="onStopDateChanged($event)" [config]="stopDatePickerConfig" placeholder="YYYY-MM-DD">
                    </dp-date-picker>
                </div>
                <button type="submit" class="btn btn-primary col-1" id="filter-submit-button" (click)="onFilterSubmit()">Filter</button>
            </div>
        </form>
    </div>
    <div id="main-row-container">
        <!-- Date Title -->
        <h5 *ngIf="showDetailLatency == true" id="detail-day-title">{{latencyDetailDate}} Latency</h5>
        <!-- Charts -->
        <div id="p5PublicationLatencyCanvas-column-div">
            <div id="p5PublicationLatencyCanvas"></div>
            <i class="fa fa-grip-lines" id="table-toggle-button" aria-hidden="false" (click)="toggleTable()"></i>
        </div>
        <!-- Selectors -->
        <section id="selectors-container">
            <h2>CHART</h2>
            <button (click)="chartChangeTo('Bar Chart')">Bar Chart</button>
            <button (click)="chartChangeTo('Line Chart')">Line Chart</button>
            
            <!-- Legend -->
            <hr>
            <h2>LEGEND</h2>
            <div class="color-threshold" [ngStyle]="{'background-color': latencyColors[0].color}">&gt;72 hours</div>
            <div class="color-threshold" [ngStyle]="{'background-color': latencyColors[1].color}">&gt;36 hours to 72 hours</div>
            <div class="color-threshold" [ngStyle]="{'background-color': latencyColors[2].color}">&gt;12 hours to 36 hours</div>
            <div class="color-threshold" [ngStyle]="{'background-color': latencyColors[3].color}">&gt;4 hours to 12 hours</div>
            <div class="color-threshold" [ngStyle]="{'background-color': latencyColors[4].color}">&lt;4 hours</div>
            <hr>
            <h6 *ngIf="showDetailLatency == false" style="text-align: center;">Click on a date to see hourly details</h6>
            <button *ngIf="showDetailLatency == true" id="back-to-period-button" (click)="onBackToPeriodClicked()">Back to Period</button>
        </section>
    </div>
</div>

<!-- Data Table -->
<div class="data-table-container" id="data-table-container">
    <div id="export-div">
        <label for="export-button">Click to export data in csv format</label>
        <button id="export-button" (click)="saveAsCSV()">Export</button>
    </div>
    <div id="table-div">
        <table id="data-table">
            <!-- Daily Latency -->
            <thead *ngIf="showDetailLatency == false">
                <th style="color: white">{{localCentre.name}}</th>
                <th *ngFor="let latency of requestedPublicationLatencyList; let i = index" style="padding: 0 0.5rem;">{{latency.day}}
                    <div *ngIf="latency.source == 'FE'" style="color: var(--main-bg-color); font-size: 0.6rem;"><br></div>
                    <div *ngIf="latency.source == 'BE'" style="color: lightsalmon; font-size: 0.6rem;">( BE )</div>
                    <div *ngIf="latency.source == 'FE+BE'" style="color: lightgoldenrodyellow; font-size: 0.6rem;">( FE+BE )</div>
                    <div *ngIf="latency.source == 'null'" style="color: grey; font-size: 0.6rem;"><br></div>
                    <div *ngIf="latency.source == ''" style="color: grey; font-size: 0.6rem;"><br></div>
                </th>
            </thead>
            <tr *ngIf="showDetailLatency == false">
                <td style="color: #ffffff">Latency {{selectedFilterSyncLabel}}</td>
                <td *ngFor="let latency of requestedPublicationLatencyList">
                    <div *ngIf="latency.average_latency != null && latency.average_latency != -1" [ngStyle]="{'background-color': getLatencyHexColorFromSeconds(latency.average_latency)}"><span style="padding: 0 0.5rem; color: var(--main-bg-color)">{{millisToHHMMSS(latency.average_latency)}}</span></div>
                    <div *ngIf="latency.average_latency == null" style="color: var(--windows-title-color)">NaN</div>
                    <div *ngIf="latency.average_latency == -1" style="color: var(--windows-title-color)">NaN</div>
                </td>
            </tr>
            
            <!-- Detail Latency -->
            <thead *ngIf="showDetailLatency == true">
                <th style="color: white">{{localCentre.name}}</th>
                <th *ngFor="let latency of publicationDetailLatencyList; let i = index" style="padding: 0 0.5rem;">{{latency.timezone.slice(11, 16)}}
                    <div *ngIf="latency.source == 'FE'" style="color: var(--main-bg-color); font-size: 0.6rem;"><br></div>
                    <div *ngIf="latency.source == 'BE'" style="color: lightsalmon; font-size: 0.6rem;">( BE )</div>
                    <div *ngIf="latency.source == 'null'" style="color: grey; font-size: 0.6rem;"><br></div>
                </th>
            </thead>
            <tr *ngIf="showDetailLatency == true">
                <td style="color: #ffffff; white-space:nowrap;">{{latencyDetailDate}} Latency {{selectedFilterSyncLabel}}</td>
                <td *ngFor="let latency of publicationDetailLatencyList">
                    <div *ngIf="latency.latency_fe != null" [ngStyle]="{'background-color': getLatencyHexColorFromSeconds(latency.latency_fe)}"><span style="padding: 0 0.5rem; color: var(--main-bg-color)">{{millisToHHMMSS(latency.latency_fe)}}</span></div>
                    <div *ngIf="latency.latency_fe == null && latency.latency_be != null" [ngStyle]="{'background-color': getLatencyHexColorFromSeconds(latency.latency_be)}"><span style="padding: 0 0.5rem; color: var(--main-bg-color)">{{millisToHHMMSS(latency.latency_be)}}</span></div>
                    <div *ngIf="latency.latency_fe == null && latency.latency_be == null" style="color: var(--windows-title-color)">NaN</div>
                </td>
            </tr>
        </table>
    </div>
</div>