<div id="chart-title">Publication Latency</div>
<div id="main-column-container">
    <!-- Filter header -->
    <div id="filters-form-container">
        <form id="filters-form">
            <div id="filters-form-row">
                <div>
                    <label class="form-label">Synchronizer:</label>
                    <select id="synchronizer-select" class="form-select" (change)="onFilterSyncChange($event)">
                        <option [value]="sync" *ngFor="let sync of syncFakeList">{{sync}}</option>
                    </select>
                </div>
                <div class="date-picker">
                    <label class="form-label">Start Date:</label>
                    <dp-date-picker class="" theme="dp-material" id="filter-start-date" name="filter-start-date"
                        [(ngModel)]="startDate" (ngModelChange)="onStartDateChanged($event)" [config]="startDatePickerConfig" placeholder="YYYY-MM-DD">
                    </dp-date-picker>
                </div>
                <div class="date-picker">
                    <label class="form-label">Stop Date:</label>
                    <dp-date-picker class="" theme="dp-material" id="filter-stop-date" name="filter-stop-date"
                        [(ngModel)]="stopDate" (ngModelChange)="onStopDateChanged($event)" [config]="stopDatePickerConfig" placeholder="YYYY-MM-DD">
                    </dp-date-picker>
                </div>
                <button type="submit" class="btn btn-primary col-1" id="filter-submit-button" (click)="onFilterSubmit()">Filter</button>
            </div>
        </form>
    </div>
    <div id="main-row-container">
        <!-- Fake Date Title -->
        <h5 *ngIf="showDayLatency == true" id="fake-day-title">{{showDayDate}} Latency</h5>
        <!-- Charts -->
        <div id="p5PublicationLatencyCanvas-column-div">
            <div id="p5PublicationLatencyCanvas"></div>
            <i class="fa fa-grip-lines" id="table-toggle-button" aria-hidden="false" (click)="toggleTable()"></i>
        </div>
        <!-- Selectors -->
        <section id="selectors-container">
            <h2>CHART</h2>
            <button (click)="chartChangeTo('Bar Chart')">Bar Chart</button>
            <button (click)="chartChangeTo('Line Chart')">Line Chart</button>
            
            <!-- Legend -->
            <hr>
            <h2>LEGEND</h2>
            <!-- <ng-template ngFor let-color [ngForOf]="latencyColors" let-i="index"> -->
                <!-- <div *ngIf="i>0" class="color-threshold" [ngStyle]="{'background-color': availabilityColors[availabilityColors.length-1-i].color}">&gt;<span *ngIf="i==availabilityColors.length - 1">=</span> {{availabilityColors[availabilityColors.length-1-i].threshold}}% &lt;= {{availabilityColors[availabilityColors.length-i].threshold}}%</div> -->
                <!-- <div class="color-threshold" [ngStyle]="{'background-color': color.color}">&gt;{{color.threshold}}s &lt;= {{color.threshold}}s</div> -->
                <div class="color-threshold" [ngStyle]="{'background-color': latencyColors[0].color}">&gt;72 hours</div>
                <div class="color-threshold" [ngStyle]="{'background-color': latencyColors[1].color}">&gt;36 hours to 72 hours</div>
                <div class="color-threshold" [ngStyle]="{'background-color': latencyColors[2].color}">&gt;12 hours to 36 hours</div>
                <div class="color-threshold" [ngStyle]="{'background-color': latencyColors[3].color}">&gt;4 hours to 12 hours</div>
                <div class="color-threshold" [ngStyle]="{'background-color': latencyColors[4].color}">&lt;4 hours</div>
            <!-- </ng-template> -->
            
            <hr>
            <h6 *ngIf="showDayLatency == false" style="text-align: center;">Click on a date to see hourly details</h6>
            <button *ngIf="showDayLatency == true" id="back-to-period-button" (click)="onBackToPeriodClicked()">Back to Period</button>
        </section>
    </div>
</div>

<!-- Data Table -->
<div class="data-table-container" id="data-table-container">
    <div id="export-div">
        <label for="export-button">Click to export data in csv format</label>
        <button id="export-button" (click)="saveAsCSV()">Export</button>
    </div>
    <div id="table-div">
        <table id="data-table">
            <!-- Period Latency -->
            <thead *ngIf="showDayLatency == false">
                <th style="color: white">Dhus_1</th>
                <th *ngFor="let latency of publicationLatencyList">{{latency.date.slice(0,4)}}&#10;{{latency.date.slice(5)}}</th>
            </thead>
            <tr *ngIf="showDayLatency == false">
                <td style="color: #ffffff">Latency</td>
                <td *ngFor="let latency of publicationLatencyList" [ngStyle]="{'background-color': getLatencyHexColorFromSeconds(latency.latency), 'color': '#ffffff'}">{{secondsToHHMMSS(latency.latency)}}</td>
            </tr>
            
            <!-- Daily Latency -->
            <thead *ngIf="showDayLatency == true">
                <th style="color: white">Dhus_1</th>
                <th *ngFor="let latency of publicationDayLatencyList">{{latency.time}}:00</th>
            </thead>
            <tr *ngIf="showDayLatency == true">
                <td style="color: #ffffff">{{showDayDate}} Latency</td>
                <td *ngFor="let latency of publicationDayLatencyList" [ngStyle]="{'background-color': getLatencyHexColorFromSeconds(latency.latency), 'color': '#ffffff'}">{{secondsToHHMMSS(latency.latency)}}</td>
            </tr>
        </table>
    </div>
</div>