<div class="main-parent-view-content">
  <div class="main-page-title">Completeness</div>
  <div class="main-page-content active">
    <div class="filters-form-container">

      <form id="co-filters-form" class="filters-form" (ngSubmit)="onFilterSubmit()" [formGroup]="filterForm">
        <div class="form-input-div row filter-outer-div">

          <!-- Manual filter -->
          <div class="filter-inner-div">
            <label class="form-label extra-small-font-size">Mission:</label>
            <select class="form-text-input shrink extra-small-font-size" id="filter-mission" (change)="onMissionChange()" formControlName="filterMission">
              <option *ngFor="let mission of totalMissionList; let i = index;" [ngValue]="mission.acronym">{{mission.acronym}}</option>
            </select>
          </div>
          <div class="filter-inner-div">
            <label class="form-label extra-small-font-size">Product Type:</label>
            <select class="form-text-input shrink extra-small-font-size" id="filter-product-type" formControlName="filterProductType">
              <option *ngFor="let productType of missionFiltered.productType" [ngValue]="productType">{{productType}}</option>
            </select>
          </div>
          <div class="filter-inner-div">
            <label class="form-label extra-small-font-size">Platform N.:</label>
            <select class="form-text-input shrink extra-small-font-size" id="filter-platform" formControlName="filterPlatform">
              <option *ngFor="let platform of missionFiltered.platform" [ngValue]="platform">{{platform}}</option>
            </select>
          </div>
          

          <!-- Dates -->
          <div class="filter-inner-div">
            <label class="form-label extra-small-font-size">Start/Stop Date:</label>
            <input type="date" class="form-text-input date-input extra-small-font-size" id="start-date" (change)="onStartDateChanged()" formControlName="filterStartDate" />
            <input type="date" class="form-text-input date-input extra-small-font-size" id="stop-date" (change)="onStopDateChanged()" formControlName="filterStopDate" />
          </div>
          <button type="submit" class="form-button submit rect hover-el">Filter</button>
        </div>
      </form>
    </div>

    <div class="main-chart-container">
      <!-- Center list -->
      <section class="centre-list-container">
        <ul class="centre-list">
          <li class="centre-title">Local:</li>
        @if (serviceLocalCentre.name === undefined || serviceLocalCentre.name === '') {
          <li class="centre-name nd-cell" >N/D</li>
        }
        @else {
          <li class="centre-name" [ngStyle]="{'color': serviceLocalCentre.color}">{{serviceLocalCentre.name}}</li>
        }
        </ul>
        <ul class="centre-list">
          <li class="centre-title">Remotes:</li>
        @for (item of serviceRemoteCentreList; track item;) {
          <li class="centre-name">
            <span [ngStyle]='{color: item.color}'>{{item.name}}</span>
          </li>
        }
        </ul>
      </section>

      <!-- Charts -->
      <div class="p5Canvas-column-div">
        <div id="p5ServiceAvailabilityCanvas" class="p5Canvas-div"></div>
      </div>

      <!-- Chart-sidebar -->
      <section class="chart-sidebar-container">
        <!-- Chart style Title -->
        <h5 class="chart-sidebar-title">{{chartType}}</h5>
        <!-- Chart Buttons -->
        <div>
          <h2 class="chart-buttons-title">CHART</h2>
          <div class="chart-sidebar-inner-container">
            <button class="chart-sidebar-button hover-el" (click)="chartChangeTo('Sunburst Single')">Sunburst Single</button>
            <button class="chart-sidebar-button hover-el" (click)="chartChangeTo('Sunburst Stacked')">Sunburst Stacked</button>
            <button class="chart-sidebar-button hover-el" (click)="chartChangeTo('Single Bars')">Single Bars</button>
            <button class="chart-sidebar-button hover-el" (click)="chartChangeTo('Stacked Bars')">Stacked Bars</button>
            <button class="chart-sidebar-button hover-el" (click)="chartChangeTo('Marimekko')">Marimekko</button>
          </div>
        </div>
        <div class="chart-sidebar-inner-container">
          <button class="chart-sidebar-button reset-zoom hover-el" (click)="onResetZoomClicked()">Reset Zoom</button>
        </div>
      </section>
  </div>
  </div>

  <!-- Data Table -->
  <div class="data-table-main-container hidden">
    <div class="data-table-header-container">
      <span>Data table</span>
      <div class="export-div">
        <label>Click to export data in csv format</label>
        <button class="export-button hover-el" (click)="saveAsCSV()">Export</button>
      </div>
    </div>
    <div class="data-table-inner-container">
      <div class="table-div">
        <div class="default-elements-table-container">
          <table id="data-table">
            <thead>
              <th style="color: white">Filter: {{missionName}} {{platformNumber}} ({{productType}})</th>
              @if(completenessDataList) {
              <th *ngFor="let column of completenessDataList" style="padding: 0 0.5rem;">@if(column){{{column.date}}}</th>
              }
            </thead>
            <tr *ngFor="let centre of serviceAllCentreList; let i=index">
              <td>
                <div [ngStyle]="{'color': centre.color }">{{centre.name}}</div>
              </td>
              <td *ngFor="let data of completenessDataList">
                <div [ngStyle]="{'color': data.values[i].value === -99 ? '#ff5555' : data.values[i].value === -1 ? '#5f5f6f' : centre.color }">{{(data.values[i].value === -1 ? "NaN" : data.values[i].value === -99 ? "Error" : data.values[i].value)}}</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="data-table-arrow-container data-table-up-arrow-container" (click)="onDataTableShow()">
      <svg class="svg-icon data-table-up-arrow">
        <use href="assets/icons/dafne_symbols.svg#icon-up-arrow" />
      </svg>
    </div>
    <div class="data-table-arrow-container data-table-down-arrow-container hidden" (click)="onDataTableHide()">
      <svg class="svg-icon data-table-down-arrow">
        <use href="assets/icons/dafne_symbols.svg#icon-down-arrow" />
      </svg>
    </div>
  </div>
</div>
