.modal-dialog {
    justify-content: center;
    align-items: center;
    height: calc(100vh - 7rem)
}
.modal-content {
    background-color: var(--title-bg-color);
    color: var(--main-text-color);
}
.modal-header {
    border-bottom: 1px solid var(--table-border-color);
}
.modal-title {
    color: var(--brighter-text-color);
}
.modal-content input {
    background-color: var(--modal-bg-color);
    border-color: var(--title-bg-color);
    color: var(--main-text-color);
    width: 225px;
    cursor: pointer !important;
}
.modal-content .fa-eye, .fa-eye-slash {
    font-size: 1.0rem;
    top: 1.7rem;
    right: 0;
    border: 0.5rem solid var(--modal-bg-color);
    background-color: var(--modal-bg-color);
    color: var(--main-text-color);
    position: absolute;
    z-index: 99;
    cursor: pointer !important;
}
.modal-content label {
    margin-bottom: 0;
}

/* Autofill settings for Firefow and Chrome */
input:autofill {
    background: var(--modal-bg-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 500s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0 30px var(--modal-bg-color) inset !important;
    box-shadow: 0 0 0 30px var(--modal-bg-color) inset !important;
    -webkit-text-fill-color: var(--main-text-color) !important;
}