<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">DAFNE Login</h5>
        </div>
        <div class="modal-body">
            <form [formGroup]="loginForm" autocomplete="on">
                <div class="formInput">
                    <label for="login_username" class="form-label mr-3">Username</label>
                    <input type="text" class="form-control" id="login_username" formControlName="username">
                </div>
                <div class="formInput">
                    <label for="login_password" class="form-label mr-3">Password</label>
                    <input type="password" class="form-control" id="login_password" formControlName="password">
                    <i class="fas fa-eye" id="toggleLoginPassword" (click)="toggleLoginPasswordVisibility()"></i>
                </div>
                <div class="formInput">
                    <button type="submit" class="btn btn-primary" (click)="onLoginSubmit()" data-bs-dismiss="modal">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>