.modal-dialog {
    justify-content: center;
    align-items: center;
    height: calc(100vh - 7rem)
}
.modal-content {
    background-color: var(--title-bg-color);
    color: var(--main-text-color);
}
.modal-header {
    border-bottom: 1px solid var(--table-border-color);
}
.modal-title {
    color: var(--brighter-text-color);
}
.modal-content input {
    background-color: var(--modal-bg-color);
    border-color: var(--title-bg-color);
    color: var(--main-text-color);
    width: 225px;
    cursor: pointer !important;
}
.modal-content .fa-eye, .fa-eye-slash {
    font-size: 1.0rem;
    top: 1.7rem;
    right: 0;
    border: 0.5rem solid var(--modal-bg-color);
    background-color: var(--modal-bg-color);
    color: var(--main-text-color);
    position: absolute;
    z-index: 99;
    cursor: pointer !important;
}
.modal-content label {
    margin-bottom: 0;
}

/* Autofill settings for Firefow and Chrome */
:-webkit-autofill {
    filter:none;
    box-shadow: 0 0 0 100px #111f inset;
    -webkit-text-fill-color: var(--main-text-color) !important;
}